/* line 6, ../sass/mystyle.scss */
body {
  background-color: white;
}

/* line 10, ../sass/mystyle.scss */
h1 {
  color: #2006e9;
}

/* line 13, ../sass/mystyle.scss */
table {
  color: black;
  background-color: #b9eefc;
}

/* line 19, ../sass/mystyle.scss */
.loginTable {
  border: 2px solid black;
  border-radius: 12px;
  background-color: #00c7fc;
}

/* line 24, ../sass/mystyle.scss */
.box2 {
  width: 20%;
  background-color: #00c7fc;
  color: white;
  margin: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 32, ../sass/mystyle.scss */
.btnLogin {
  border-radius: 20px;
  border-color: #00c7fc;
}

/* line 36, ../sass/mystyle.scss */
.menuBar {
  font-size: 150%;
  background-color: #00c7fc;
  float: none;
}

/* line 41, ../sass/mystyle.scss */
.taskDesign {
  background-color: cornflowerblue;
  font-size: 16px;
  left: 15%;
  width: 65%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* line 50, ../sass/mystyle.scss */
.taskInfo {
  background-color: #00c7fc;
}

/* line 54, ../sass/mystyle.scss */
div {
  color: white;
}
/* line 56, ../sass/mystyle.scss */
div .projectInfo {
  background-color: #00c7fc;
  font-size: 25px;
  font-weight: bold;
}
/* line 61, ../sass/mystyle.scss */
div .staticInfo {
  background-color: cornflowerblue;
  border: 2px solid black;
  display: flex;
  font-weight: bold;
  font-size: 17px;
}
/* line 68, ../sass/mystyle.scss */
div .taskInfo {
  background-color: #89c7eb;
  border: 2px solid black;
  border-top: none;
  font-weight: bold;
  font-size: 17px;
}
/* line 75, ../sass/mystyle.scss */
div .staticInfoTable {
  background-color: cornflowerblue;
  border: 2px solid black;
  font-weight: bold;
  font-size: 17px;
}
