$mainBColor: #00c7fc;
$mainColor: white;
$employeeDesign: cornflowerblue;
$borderColor: black;

body{
    background-color: $mainColor;

}
h1{
    color:#2006e9;
}
table{
    color: $borderColor;   
    background-color: rgb(185, 238, 252);
   
    
}
.loginTable{        
    border: 2px solid  $borderColor;    
    border-radius: 12px;    
    background-color: $mainBColor;
}
.box2{  
    width: 20%;
    background-color: $mainBColor;
    color: $mainColor;
    margin: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.btnLogin{    
    border-radius: 20px;
    border-color: $mainBColor;
}
.menuBar{
    font-size: 150%;
    background-color: $mainBColor;
    float: none
}
.taskDesign{
    background-color:$employeeDesign;
    font-size: 16px;
    left: 15%;
    width: 65%;    
    margin-top: 20px;
    margin-bottom: 20px;    
    border-radius: 10px;
}
.taskInfo{
    background-color: $mainBColor;
}

div{
    color: $mainColor;
    .projectInfo{
        background-color: $mainBColor;
        font-size: 25px;
        font-weight: bold;            
    }
    .staticInfo{
        background-color: $employeeDesign;
        border:2px solid  $borderColor;	
        display: flex;    
        font-weight: bold;
        font-size: 17px;
    }
    .taskInfo{
        background-color: #89c7eb;
        border: 2px solid  $borderColor;
        border-top: none;
        font-weight: bold;
        font-size: 17px;
    }
    .staticInfoTable{
        background-color: $employeeDesign;
        border:2px solid  $borderColor;	
         
        font-weight: bold;
        font-size: 17px;
    }

    
}
