
body{
	color: red;
	background-color: blue;
	font-size: 28px;
}

h1 {
	color: white;
}

.ali {
	text-decoration: underline;
}

#myh3{
	color: yellow;
}

<<<<<<< HEAD
.Employee{
	
}
=======
.title {
	text-decoration: underline;
}

h4 {
	color: black;
}










>>>>>>> d0d6bed58133d6f9165f6e4f243d45ddd0f92115
